* {
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #f1f1f1;
}
.current {
    color: coral;
}


header {
    height: 50px;
    width: 50%;
    background-color: blue;
    overflow: hidden;
    position: fixed; 
}
       header ul {
           padding: 0;
           float: right;
        }
        header .branding {
            float: left;
        }
        header .branding h1 {
            color: white;
            line-height: 50px;
            text-transform: uppercase;
        }
        
ul li{
    list-style: none;

    
    float: left;
}
ul li a{
   
    color:black;
   line-height: 50px;
   padding: 0 15px;
   text-decoration: none;
   font-size: 1.4rem;
}
   ul li a:hover{
    color: coral;
    font-weight: 700px;
   }

   .showcase {
       background: url('eric.jpg') no-repeat;
       background-size:cover;
       background-position: 0 -250px;;
       min-height: 590px;
       text-align: center;
   }
   
   .showcase p {
       color: black;
       font-size: 1.5rem;
      font-size: 40px;
      background-color: aquamarine;
      color:black;
   }
   .container {
       width: 80%;
       margin: 0 auto;
    
   }
   
  body {
    background: #444;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
  }
  body#bg-img {
    background: url(eric1.jpg);
    background-attachment: fixed;
    background-size: cover;
  }
  body#bg-img:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(68, 68, 68, 0.9);
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: 400;
  }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem;
  }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5);
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  
  header {
    position: fixed;
    z-index: 2;
    width: 100%;
  }
  
  .text-secondary {
    color: #eece1a;
  }
  
  main {
    padding: 4rem;
    min-height: calc(100vh - 60px);
  }
  main .icons {
    margin-top: 1rem;
  }
  main .icons a {
    padding: 0.4rem;
  }
  main .icons a:hover {
    color: #eece1a;
    transition: all 0.5s ease-out;
  }
  main#home {
    overflow: hidden;
  }
  main#home h1 {
    margin-top: 20vh;
  }
  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: "bioimage bio bio" "job1 job2 job3";
    grid-template-columns: repeat(3, 1fr);
  }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: blue 3px solid;
  }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  .about-info .job-1 {
    grid-area: job1;
  }
  .about-info .job-2 {
    grid-area: job2;
  }
  .about-info .job-3 {
    grid-area: job3;
  }
  .about-info .job {
    background-image: url("eric1.jpg");
    padding: 0.5rem;
    border-bottom: black 5px solid;
  }

